.footer {
	display: grid;
	grid-template-columns: 1fr 10fr;
	grid-column: 1 / -1;
	width: 100%;
	margin-top: auto;
	padding: 20px;
	background: linear-gradient(to bottom, #FB8627, #F5BEF6);;

	>h2 {
		display: flex;
		justify-content: center;
		align-items: center;
		color: white;
		font-size: clamp(18px, 1.1vw, 24px);
		text-align: center;
	}

	@media (max-width: 475px) {
			grid-template-columns: 1fr;
			justify-items: center;
			gap: 20px;
			padding: 60px 20px;
	}
}
